
/*------------------------NAV BAR STYLING------------------*/
.navbar {
background-color: rgba(29, 29, 29, 0.979);
padding: 0px;
}
.navbar-brand {
    color:rgba(181, 7, 23, 1);
    font-size: 3em;
    font-family: 'Balsamiq Sans', cursive;
    margin-left: 20px;
    letter-spacing: 2.5px;
    padding: 0px;
    }
    .navbar-brand:hover{
        color: rgba(191, 191, 191, 1);
    }

    .nav-item .nav-link {
        color: rgba(191, 191, 191, 1);
        font-family: 'Balsamiq Sans', cursive;
        font-size: 1.3em;
        margin-right: 10px;
    }

    .nav-item .nav-link:hover{
        color: rgba(181, 7, 23, 1);
        font-size: 1.5em;
        
    }
    #hamburger {
        color:rgb(191, 191, 191);
        font-size: 2em;
    }
  #hamburger:hover{
      color: rgba(181, 7, 23, 1);
  }
/*------------------------landing image and text STYLING------------------*/
  .landing{
      background: url(/assets/images/patrick-tomasso-GXXYkSwndP4-unsplash.jpg) no-repeat center center;
      background-size: cover;
      height: 90vh;
      position: relative;
     
  }
  .welcome-text{
      top: 70px;
      position: absolute;
      color: rgba(191, 191, 191, 1);
      font-family: 'Balsamiq Sans', cursive;
      font-style: italic;   
      margin-left: 30px;
      margin-right: 30px;
      background-color: rgba(0, 0, 0, 0.39);
  }
  /*------------------------Booking modal and button STYLING------------------*/

  #bookingbtn{
      width: 30%;
      margin-left: 35%;
      font-family: 'Balsamiq Sans', cursive;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.5rem;
      position: absolute;
      bottom: 40px;
      font-weight: bold;
      background-color: rgba(255, 255, 255, 0.61);
      }

    #bookingbtn:hover{
        background-color: rgba(181, 7, 23, 1);
        color: rgba(255, 255, 255, 0.767);
    }  
  .modalfade{
      padding: 0px;
    }
  .modal-content{
      background-color: rgba(255, 255, 255, 0.767);
      font-family: 'Balsamiq Sans', cursive;
      font-size: 20px;
      color: rgba(29, 29, 29,);
}
.form-control{
    padding: 3px 12px;
    font-size: 20px;
}
/*------------------------SOMM STORY STYLING------------------*/

  .storysomm{
      background: url("/assets/images/jonathan-nguyen-XwO0raJ2dQM-unsplash.jpg") no-repeat center center fixed;
      background-size: cover;
      height: 100vh; 
    font-family: 'Balsamiq Sans', cursive;
      
  }
  .storysomm h2{
      color: rgba(181, 7, 23, 1);
    }
  .storysomm p{
      color: rgba(191, 191, 191, 1);
      font-size: 3vw;
        background-color: rgba(0, 0, 0, 0.39);
    }
    /* -----media queries to make font readable on larger devives but not too big on mobile ----*/
    @media screen and (max-width: 600px) {
    .storysomm p {font-size: 4.8vw}
    }

   @media screen and (min-width: 600px) {
    .storysomm h2{font-size: 5vw}
    }
