.navbar {
background-color: #1d1d1d;
padding: 0px;

}
.navbar-brand {
    color: rgba(181, 7, 23, 1);
    font-size: 3em;
    font-family: 'Balsamiq Sans', cursive;
    margin-left: 15px;
    letter-spacing: 2.5px;
    }

    .nav-item .nav-link {
        color: rgba(191, 191, 191, 1);
        font-family: 'Balsamiq Sans', cursive;
        font-size: 1.3em;
        margin-right: 12px;
    }
  