
/*------------------------NAV BAR STYLING------------------*/
.navbar {
background-color: rgba(29, 29, 29, 0.979);
padding: 0px;
}
.navbar-brand {
    color:rgba(181, 7, 23, 1);
    font-size: 3em;
    font-family: 'Balsamiq Sans', cursive;
    margin-left: 20px;
    letter-spacing: 2.5px;
    padding: 0px;
    }
    .navbar-brand:hover{
        color: rgba(191, 191, 191, 1);
    }

    .nav-item .nav-link {
        color: rgba(191, 191, 191, 1);
        font-family: 'Balsamiq Sans', cursive;
        font-size: 1.3em;
        margin-right: 10px;
    }

    .nav-item .nav-link:hover{
        color: rgba(181, 7, 23, 1);
        font-size: 1.5em;
        
    }
    #hamburger {
        color:rgb(191, 191, 191);
        font-size: 2em;
    }
  #hamburger:hover{
      color: rgba(181, 7, 23, 1);
  }

  .landing{
      background: url(/assets/images/patrick-tomasso-GXXYkSwndP4-unsplash.jpg) no-repeat center center;
      background-size: cover;
      height: 90vh;
      position: relative;
  }
  .welcome-text{
      top: 70px;
      position: absolute;
      color: rgba(191, 191, 191, 1);
      font-family: 'roboto', sans-serif;
      font-style: italic;   
      margin-left: 30px;
      margin-right: 30px;
      background-color: rgba(0, 0, 0, 0.39);
  }